body{
    position: relative;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
.main{

}

.left-nav-section{

}

#home-content-section {
    padding-top:50px;
    height: 581px;
    background: #67b168;
}
#work-section{
    height: 581px;
    background: #ec971f;
    padding-top:50px;
}

#contact-section{
    height: 532px;
    padding-top: 10px;
    background: #a94442;

}
.footer-section {
    height: 90px;
}